#titlebar {
  color: #20b15a;
}
.container h2 {
  width: 495px;
  font-weight: bold;
  font-size: 30px;
}
.card img {
  position: relative;
}
.social-icons-overlay {
  position: absolute;
  bottom: 14%;
  right: 50%;
  transform: translate(50%, -35%);
  font-size: 25px;
  background-color: #e3e3e3;
  padding: 8px 15px 15px 15px;
  border-radius: 44px;
}
.social-icons-overlay a {
  color: #737588;
}
